:root{
    --font-sublevel : "Blackadder ITC"

}
.alpha-text{
    font-family: Blackadder ITC,cursive,sans-serif;
    font-size: calc(4vh + 4vw);
    color: beige;
}
body.alpha-gen{
    background: linear-gradient(to right,#000000,#0008FF 70%);
}
*
{
    color: rgb(255, 255, 255);
}
.greetings{
    z-index: 1;
    margin: auto auto;
    width: 30vw;
    height: 15vh;
}
a{
    text-decoration: none;
}

.center{
    position: absolute;
    margin: auto autos;
}