:root{
    --font-sublevel : "Blackadder ITC"

}
.alpha-text{
    font-family: Blackadder ITC,cursive,sans-serif;
    font-size: 2.8vw;
    color: beige;
}
body.alpha-gen{
    background: linear-gradient(to right,#000000,#0008FF 70%);
}
*
{
    color: rgb(255, 255, 255);
}
.greetings{
    z-index: 1;
    margin: auto auto;
    width: 30vw;
    height: 15vh;
}
a{
    text-decoration: none;
}

.center{
    position: absolute;
    margin: auto autos;
}
.btn1{
    width: 5vh;
    height: 5vh;
    position: absolute;
    color: #000000;
    margin: 45vw 40%;
    color-scheme: dark;
    background-image: linear-gradient(135deg ,#000000,#fff);
}
