:root{
    --font-sublevel : "Blackadder ITC"

}
.alpha-text{
    font-family: Blackadder ITC,cursive,sans-serif;
    font-size: 4vh;
    color: beige;
}
body.alpha-gen{
    background: linear-gradient(to right,#000000,#0008FF 70%);
}
*
{
    color: antiquewhite;
}
.greetings{
    z-index: 1;
    margin: auto auto;
    width: 30vw;
    height: 15vh;

}
a{
    text-decoration: none;
}
