.triangle {
    height: 0px;
    width: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid;
}

.triangle_right {
    height: 0px;
    width: 0px;
    border-left: 100px solid black;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
}

.triangle_left {
    height: 0px;
    width: 0px;
    border-bottom: 100px solid transparent;
    border-right: 100px solid black;
    border-top: 100px solid transparent;
}

.triangle_down {
    height: 0px;
    width: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid black;
}

.square {
    width: 10vh;
    height: 10vh;
    background: linear-gradient(160deg, red, blue, yellow);
    border: 1px red solid;
    transform: skew(15deg);
}

.rectangle {
    width: 50vw;
    height: 10vh;
    background: black;
    border: 1px red solid;
    color: white;
}

.circle {
    width: 10vh;
    height: 10vh;
    background: linear-gradient(160deg, red, blue, yellow);
    border: 1px red solid;
    border-radius: 50%;
}

.rhombus {
    width: 10vh;
    height: 10vh;
    background: linear-gradient(160deg, red, blue, yellow);
    border: 1px red solid;
    transform: skew(15deg);
}

.diamond {
    width: 10vh;
    height: 10vh;
    background: blue;
    border: 1px red solid;
    transform: rotate(55deg) skew(20deg) skewX(10.5deg) skewY(10deg);
}
