:root{
    --main_color_bg_a : #000000;
    --main_color_bg_b : #fff;
    --color-contrast : white;
    --color-contrast-b:var(--main_color_bg_a)
    --zindex-priority:3
}
body{
    background-image: linear-gradient(90deg,black,rgb(187, 91, 91));
    height: 100vh;
    width: 100vw;
}
body[dark]{
    background-color: #000000;
}
body[light]{
    background-color: white;
}
[spin="true"]{
    animation: spin 4s ease 0s infinite;
}
@media article{

}
@keyframes spin{
    0%{
        rotate: 0deg;
        
    }
    100%{
    
        rotate: 360deg;
    }
}
@keyframes fmove{
    0%{
        top: 0vh;
    }
    100%{
        top: 100vh;
    }
}
[move=true]{
    position: absolute;
    animation:fmove 4s ease 0s infinite;
}
[hideoverflow]{
    overflow: hidden;
}
[hover]:hover{
    color: #aaaaaa;
}
[abs]{
    position: absolute;
}
[transparent]{
    border: transparent;
    color: transparent;
    box-shadow: transparent;
    background-color: transparent;
    text-shadow: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
/*
eg: <div article> attribute style
        <div class="header">...
*/
/*
    * Use this when making an article about the specific ICT profession, and what they offer
*/
article[ict],article.ict{
    background: #AA00AA;
    display: grid;
    grid-template-columns: 4 repeat(1fr);
    grid-template-rows: 10vh 15vh 10vh 7vh;
    grid-template-areas:"header header header header"
                        "side main main main"
                        "side content1 content2 content2"
                        "side footer footer footer";
}
/**/
@media screen and (orientation: portrait) {
    article[ict],article.ict{
        background: inherit;
        display: grid;
        grid-template-columns: 1 repeat(1fr);
        grid-template-rows: 5vh 3vh 10vh 5vh 5vh 5vh 4vh;
        grid-template-areas:"header"
                            "side"
                            "main"
                            "content1"
                            "content2"
                            "content3"
                            "footer";
    }
}
@media screen and (max-width:800px){
    article[ict],article.ict{
        background: inherit;
        display: grid;
        grid-template-columns: 1 repeat(1fr);
        grid-template-rows: 5vh 3vh 10vh 5vh 5vh 5vh 4vh;
        grid-template-areas:"header"
                            "side"
                            "main"
                            "content1"
                            "content2"
                            "content3"
                            "footer";
    }
    article>*{
        word-break: break-all;
    }

}
.side{
    grid-area: side;
}
.main{
    grid-area: main;
}
.content1{
    grid-area: content1;
}.content2{
    grid-area: content2;
}.content3{
    grid-area: content3;
}
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
}


a{
    text-decoration: none;
}
/*use this when masking an element,*/
.mask{
    z-index: 1;
    position: absolute;

}
@keyframes -shrink {
    0%{
        scale: 1;
    }
    100%{
        scale: 0.01;
    }
}
.shrink {
    animation: -shrink 4s ease 0.1s infinite;
}

@keyframes -crazy-line-spin  {
    0%{
        translate: initial,initial;
    }
    100%{

    }
}
.inline, [inline]{
    display: inline;
}
.flex,[flex]{
    display: flex;
}
.text-center{
    text-align: center;
}
body.center{
    margin: 0 auto;
}
.spaced{
    justify-content: space-between;
    align-content: space-between;
}
.nostring,.lf{
    content: "";
}
/*for nav links,redirect*/
.sli{
    height: 3vh;
    width: 5vw;
    text-align: center;
}

.nav-corner{
    position: fixed;
    top: 3vh;
    left: 70vw;
    background-image: linear-gradient(yellow ,green);
}
